body{
	min-width: 800px;
}
header{
	padding-top: 30px;
	height: 70px;
	background-size: 15% 182px;
	background-image: url("images/leather-nunchuck.png");
	background-position: 50% 30%;
}
header p{
	text-align: center;
	background-color: rgba(0, 0, 0, .6);
	font-family: "HelveticaNeue-light";
	color: white;
	font-size: 35px;
}
.main{
	height: 500px;
	width: 100%;
	padding-top: 100px;
	background-size: 100% 700px;
	background-image: url("images/fifa.png");
	background-position: 50% 0%;
	background-repeat: no-repeat;
}
.welcome{
	height: 300px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 28px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
}
.welcome h2 {
	text-align: center;
	font-family: "HelveticaNeue-light";
	color: white;
	font-size: 30px;
	margin: 10px;
	padding: 9px;
	margin-bottom: 35px;
	background-color: rgba(17, 17, 17,.3);
	border: 1px solid black;
	border-radius: 21px;
}
.welcome p{
	text-align: center;
	font-family: "HelveticaNeue-light";
	font-size: 25px;
	padding-bottom: 2px;
	margin-bottom: 30px;
}
.button{
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: "HelveticaNeue-light";
	background-color: rgba(17, 189, 58, 0.8);
	padding: 10px 25px;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid rgb(0, 167, 20);
	position: absolute;
	bottom: 12px;
	left: 220px;
}
.button:hover{
	border: 1px solid black;
}
.question{
	height: 300px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 28px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
}
.question p{
	text-align: center;
	font-family: "HelveticaNeue-light";
	color: white;
	font-size: 25px;
	margin: 10px;
	padding: 9px;
	margin-bottom: 20px;
	background-color: rgba(17, 17, 17,.3);
	border: 1px solid black;
	border-radius: 40px;
}
.last{
	margin-bottom: 20px;
}
.choice{
	display: block;
	padding: 10px;
	padding-left: 40%;
	font-family: "HelveticaNeue-light";
}
.nose{
	text-decoration: none;
	font-family: "HelveticaNeue-light";
	font-size: 25px;
	color: blue;
}
.nose:hover{
	text-decoration: underline;
}
#one{
	display: none;
}
#two{
	display: none;
}
#three{
	display: none;
}

#four{
	display: none;
}
#four div{
	padding-left: 30%;
}
#five{
	display: none;
}
#finish{
	display: none;
}
.wrong{
	display: none;
}
.correct{
	display: none;
}




